

.auth-container {
    width: 90%;
    margin: 40px 70px;
    padding: 50px;
    color: #fff;
    letter-spacing: 25px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(15,12,41, 0.8), rgba(40, 180, 133, 0.8)), url(/public/img/background.jpg);
    
  }
  .logout-container{
    background-image: none;
    margin: 40px auto;
    padding: 20px;
    width: 40%;
    border: none;
  }
  .auth-container h2 {
    margin-bottom: 20px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    margin: 10px 25%;
    padding: 10px;
    border: none;
	  outline: none;
    border-radius: 4px;
    width: 50%;
  }
  
  .auth-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 10px 25%;
    width: 50%;
  }
  
  .auth-container button:hover {
    background-color: #0056b3;
    transition: all .5s;
  }
  

  