  
  .formlist_body{
    height: 400vh;
  }
  .background-setting-formlist {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .text-box-student--side {
    flex: 1 1 auto;
    text-align: center;
  }
 
  .home-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
   
  }
  
  .dropdown{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  .list-h1{
    color: #fff;
    margin: 20px auto;
    text-align: center;
  }
  
  .student-name {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    margin-bottom: 2%;
  }
  
  .student-name:hover {
    background-color: #e0e0e0;
  }
  

  .student-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .student-details h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .student-details p {
    margin: 5px 0;
  }
  

  @media (max-width: 768px) {
    .home-page {
      grid-template-columns: 1fr;
    }
  }
  